<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">


	
	<import resource="ui.xml" />
	<import resource="classpath*:spring/core/beans.xml" />


	
	<bean id="jmsServerConnection"
		class="cse110team4.drawpic.drawpic_desktop.server.JMSServerConnection"
		scope="singleton">
		<constructor-arg ref="clientData"></constructor-arg>
		<constructor-arg ref="gameData"></constructor-arg>
	</bean>
	<bean id="jmsClientMessageListener"
		class="cse110team4.drawpic.drawpic_desktop.server.JMSClientMessageListener"
		scope="singleton">
		<constructor-arg ref="jmsStreamReader"></constructor-arg>
		<constructor-arg ref="packetDistributor"></constructor-arg>
	</bean>
	<bean id="clientPacketHandler"
		class="cse110team4.drawpic.drawpic_desktop.server.ClientPacketHandler"
		scope="singleton">
	</bean>
	<bean id="eventDispatcher"
		class="cse110team4.drawpic.drawpic_desktop.event.EventDispatcher"
		scope="singleton">
	</bean>
</beans>
